h1 {
    color:red;
}

.button {
    background-color: whitesmoke;
}

.clicked {
    background-color: lightslategray ;
}

.unclicked {
    background-color: whitesmoke;
}

.good {
    border-width: 1pt;
    border-color: black;
}

.bad {
    border-width: 2pt;
    border-color: red;
}